rules_version = '2';


service cloud.firestore {
  match /databases/{database}/documents {
  //Make sure that user can update only his information
  match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }
    match /messages/{messageId} {
      allow read, create, delete: if request.auth != null;
      match /chat/{chatId} {
        allow read, create, delete: if request.auth != null;
      }
    }
  }
}