.navigation {
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    a {
      display: block;
      padding: 10px 20px;
      background-color: #99a799;
      text-transform: uppercase;
      color: #fef5ed;
      text-decoration: none;
      font-weight: 500;
      &:first-child {
        margin-right: 20px;
      }
    }
  }
  &__greetings {
    text-align: center;
    font-size: 25px;
  }
}
