.container {
  max-width: var(--container-width);
  padding: 0 var(--default-gap);
  margin: 0 auto;
}
h1,
h2,
h3,
p,
a,
button,
label,
input {
  font-family: var(--default-font);
  color: var(--color-text);
}
h2 {
  font-size: var(--size-text);
  font-weight: 500;
}

h1 {
  font-weight: 700;
}
h3 {
  font-size: 28px;
  color: rgb(46, 56, 65);
  text-align: center;
}
#component-error-text {
  color: rgba(145, 0, 0, 0.659);
  font-size: 12px;
}
body {
  background-color: #f9fbf2;
}
button,
a {
  display: block;
  padding: 10px 20px;
  background-color: var(--color-primary-1);
  color: #fef5ed;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  &:hover {
    background-color: #859085;
  }
}
