:root {
  --container-width: 1200px;
  --default-gap: 15px;

  --default-font: "Montserrat", sans-serif;
  --secondary-font: "Open Sans", sans-serif;

  --color-primary: #adc2a9;
  --color-primary-1: #99a799;
  --color-primary-2: #d3e4cd;

  --color-secondary-1: #f7f2e7;
  --color-secondary-2: #d8ccb3;

  --color-active: #023d02a8;
  --color-error: rgba(145, 0, 0, 0.659);
  --color-text: rgb(12, 91, 93);

  --size-text: 1.125rem;
}
